
.blogContainer{
    border-radius: 5px;
    text-align: justify;
    background-color: rgb(236, 246, 246);
    padding: 30px 20px;
}
.blogs{
    margin-bottom: 30px;
}
.my-element{
    border-top: 5px solid #DFBA9F;
    border-right: 1px solid #DFBA9F;
    border-bottom: 5px solid #DFBA9F;
    border-left: 2px solid #DFBA9F;
    border-radius: 10px ;
    
}
.my-element-right{
    border-top: 5px solid #DFBA9F;
    border-right: 2px solid #DFBA9F;
    border-bottom: 5px solid #DFBA9F;
    border-left: 1px solid #DFBA9F;
    border-radius: 10px ;
}