.footerIcon{
    background-color: azure;
    border-radius: 50%;
    padding: 8px;
    transition: .4s;
}
.footerIcon:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.1);
}
.textColor{
    color: rgb(19, 18, 18);
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}
.linkStyle:hover{
    color: white;
}